#container
{
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

#home_grid_top
{
    text-align: center;
    width: 100%;

}

#home_grid_top>img
{
    width:100%;
    height: 100%;       /*Edit for Responsive*/
}

#home_heading
{
    font-size:50px;
    font-weight: 800;
}

#home_grid_bottom
{
    width: 100%;
    margin: 0 auto;  
    background-image: url(assets/home_center_image.webp);
    background-size: cover;                                 /*Edit for Responsive*/
    background-repeat: no-repeat;
}

#home_grid_bottom>img
{
    width: 100%;
    height: 100%;       /*Edit for Responsive*/
}

#middle
{
    display: flex;
    padding: 5%;
}

#middle_left
{
    text-align: center;
    padding: 3%;
    width: 100%;
    align-self: center;
}

#middle_left>img
{
    height: 27vw;
    width:27vw;
    animation-name: jingle;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}

#middle_right
{
    align-self: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 15%;
}

#middle_right_upper
{
    font-size: 6vw;
}

#middle_right_lower
{
    font-size: 1.6vw;
    text-align: left;
}

#line
{
    height: 100%;
    width: 100%;
}


#middle_2
{
    width: 100%;
    display: flex;
    padding: 5%;
}

#middle_2_left
{
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#register
{
    font-size: 6vw;
}

#register_content
{
    text-align: left;
    font-size: 1.6vw;
}

#register_content>div>b
{
    color: rgb(140, 96, 220);
}

#middle_2_right
{
    width: 100%;
    text-align: center;
    padding: 1%;
    align-self: center;
}

#middle_2_right>img
{
    height: 27vw;
    width:27vw;
    animation-name: jingle;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}

video
{
    width: 100%;
}










































@media only screen and (max-width: 800px)
{


    #middle
    {
        flex-direction: column;
    }
    
    #middle_left>img
    {
        height: 40vw;
        width:40vw;
    }
    
    #middle_right
    {
        align-self: center;
        height: 40vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    #middle_right_upper
    {
        font-size: 10vw;
    }
    
    #middle_right_lower
    {
        font-size: 4vw;
        text-align: left;
        padding: 5%;
    }

    #middle_2
    {
        flex-direction: column;
    }

    #middle_2_left
    {
        padding-left: 1%;
    }
    
    #register
    {
        font-size: 10vw;
    }
    
    #register_content
    {
        text-align: left;
        font-size: 4vw;
        padding: 5%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    #middle_2_right>img
    {
        height: 40vw;
        width:40vw;
    }


}







@keyframes jingle 
{
    0%
    {
        transform: translate(0px,0px);
    }
    25%
    {
        transform: translate(0,10px);
        transform: rotate(-3deg);
    }
    50%
    {
        transform: translate(0,20px);
    }
    75%
    {
        transform: translate(0,-20px);
        transform: rotate(5deg);
    }
}