* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    overflow-y:visible;
    font-family: 'Quicksand', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

#cardd{
  /* margin:0 2rem; */
  width:100%;
}

.contcard {
  display: flex;
  /* height: 100vh; */
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
}

.deck {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:100vw;
  /* height:100vh; */
  flex-wrap: wrap;
}
.card-space{
  width:23rem;
  height:25rem;
  margin-top: 30px;
}

.card-space:hover .card {
  transform: rotateY(-180deg);
}

.card {
  border-radius: 70px;
  height: 100%;
  margin: 10px;
  margin-left: 0px;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}
.card h1 {
  margin-top: 5px;
}
.card p {
  margin-top: 0px;
}

.face {
  border-radius: 70px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
  /* background: radial-gradient(rgb(74, 72, 72),black); */
  padding: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
}
.face h1 {
  padding: 0;
}
.face.front {
  text-align: center;
  z-index: -1;
  background-color: #151f2aff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: rotateY(0deg);
}

.face.front>h1{
  margin-top:21rem;
}
.face.back {
  transform: rotateY(180deg);
  z-index: 8;
  background-color: #151f2aff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.flex{
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.flex>img{
    position:absolute;
    margin-top: 2.4rem;
    height:80%;
    width:80%;
    /* opacity: 0.8; */
    /* z-index: 12; */
}

.bgvideo{
  position: absolute;
  overflow:hidden;
  z-index: 10;
  opacity: 0.9;
  height:100%;
}
.bgvideo>img{
  height:100%;
  width:100%;
  border-radius: 70px;
  opacity:0.5;
  z-index:11;
}
#abvcard{
  position: relative;
  text-align: center;
  margin-top: 20px;
  font-family: 'Dosis', sans-serif;
font-family: 'Handjet', cursive;
}
#contentabvcard>h1{
  font-size: 3.5rem;
  margin-bottom: 30px;
}

#contentabvcard>p{
  width:80%;
  font-size: 1.3rem;
  text-align: center;
  margin:0 auto;
}

.imgcont{
  margin-top:2rem;
  height:20vh;
  width:100vw;
}
.imgcont>img{
  height:60%;
  width:80%;
  opacity: 0.8;
}

#img1{
    height:60%;
    width:80%;
    opacity: 0.8;
    transform: rotate(180deg);
}

/*Below card css*/
#belowcard{
  text-align: center;
}
.right{
  margin-right: 10%;
}
.rightexce{
  margin-right: 0px;
  margin-left: 9%;
}
.maincontentbel{
  /* width:77%; */
  text-align: left;
  /* margin-left: 10%; */
  font-family: 'Dosis', sans-serif;
  font-family: 'Handjet', cursive;
}

.maincontentbel>p{
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 20px;
  margin-left:6%;
}








#belowcard>p{
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
}

.flexx{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap-reverse; */
}
#midfloat{
  flex-direction: row-reverse;
}
.rightcardbel{
  height:18rem;
  width:16rem;
}
.rightcardbel>img{
  height:100%;
  width:100%;
  animation-name: floating;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear ;
}

@keyframes floating {
  0%{
    transform: translate(0px,0px);
  }
  15%{
    transform: rotate(-3deg);
  }
  25%{
    transform: translate(0,20px);
    
  }
  50%{
    transform:translateX(0,40px);
  }
  75%{
    transform:translateY(0,20px);
    transform: rotate(8deg);
  }
}


.para{
  font-size: 2rem;
}
.ull>li{
  font-size: 1rem;
}

.ullrem{
  margin: 0;
  margin-left:-3rem;
}
.flexxx{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap:4rem;
}
.textwrap
{
  display: inline-block;
}

#app{
  width:100%;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  animation: 
    typing 7s steps(51) infinite,
    blink-caret 500ms step-end infinite;
}

@keyframes typing {
  from { width: 0% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

footer{
  height: 4rem;;
}







































@media (max-width: 425px)
{
  .card-space{
    width:19rem;
    height:22rem;
    /* margin-left:-20px; */
  }
  .flexxx{
    margin-top: 2rem;
    gap:2rem;
  }
  .face.front>h1{
    margin-top:18rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 500px){
  .flexx{
    flex-direction: column-reverse;
    gap: 2rem;
  }
  #midfloat{
    flex-direction: column-reverse;
  }
  .maincontentbel>p{
    margin:10%;
    margin-top:3%;
  }
  .right{
    margin-bottom: 0px;
  }
  .rightcardbel{
    margin-bottom: 0px;
  }

}
@media (max-width:890px)
{
  #contentabvcard>p{
    text-align: justify;
  }
}
@media (max-width:1064px){
  .right{
    margin-right: 5%;
  }
}
@media (max-width:948px){
  .right{
    text-align: center;
    margin: auto;
  }
}

@media (max-width:948px){
  .rightcardbel{
    height:12rem;
    width:10rem;
  }
  .flexx{
    gap:2rem;
  }
}

@media (max-width:426px){
  #trophy{
    height:70%;
    width:70%;

  }
  .face.front>h1{
    margin-top: 15.5rem;

  }
  .card-space{
    width:17rem;
    height:19rem;
    margin-top: 30px;
  }
}